*{ 
    padding: 0;
    margin: 0;    
}

html{
    scroll-behavior: smooth;
} 

body{
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    display: flex;
}

.wrap-menu{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 999;
    font-family: 'Lora', serif;
}
ul{
    position: absolute;
    top: 0;
    left: 35%;
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.perfil01{
    width: 100%;
    height: 600px;
    padding-top: 40px;
    gap: 25px;
    background-image: url("https://i.pinimg.com/564x/71/4a/c5/714ac579414ac6b1fcd659b80dd566ba.jpg");
    filter: brightness(70%);
}

.img01{
    position: absolute;
    left: 10px;
    top: 350px;
    border-radius: 10%;
    width: 250px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    border: 3px solid white;
}
.img02{
    position: absolute;
    left: 150px;
    top: 80px;
    border-radius: 10%;
    width: 250px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    border: 3px solid white;
}
.img03{
    position: absolute;
    left: 300px;
    top: 350px;
    border-radius: 10%;
    width: 250px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    border: 3px solid white;
}
.inst{
    position: absolute;
    left: 10px;
    width: auto;
    height: 100px;
}
.text1{
    position: absolute;
    right: 100px;
    top: 380px;
    max-height: 500px;
    max-width: 500px;
    text-align: left;
    color: aliceblue;
    font-family: "IBM Plex Mono", monospace;
}
.text2{
    position: absolute;
    right: 350px;
    top: 80px;
    max-height: 500px;
    max-width: 500px;
    text-align: left;
    color: aliceblue;
    font-family: "IBM Plex Mono", monospace;
}

.title{
    position: absolute;
    left: 30px;
    color: aliceblue;
    font-family: "IBM Plex Mono", monospace;
}
.perfil02{
    width: 100%;
    height: 600px;
    padding-top: 40px;
    gap: 25px;
    background-image: url("https://i.pinimg.com/564x/3b/79/e8/3b79e83380c08eaf6642a3f4feca28d4.jpg");
    filter: brightness(70%);
    background-size: cover;
}

.img04{
    position: absolute;
    left: 10px;
    top: 350px;
    border-radius: 10%;
    width: 250px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    border: 3px solid white;
}
.img05{
    position: absolute;
    left: 150px;
    top: 80px;
    border-radius: 10%;
    width: 250px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    border: 3px solid white;
}
.img06{
    position: absolute;
    left: 300px;
    top: 350px;
    border-radius: 10%;
    width: 250px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    border: 3px solid white;
}
.inst2{
    position: absolute;
    left: 10px;
    width: auto;
    height: 100px;
}
.text4{
    position: absolute;
    right: 100px;
    top: 380px;
    max-height: 500px;
    max-width: 500px;
    text-align: left;
    color: aliceblue;
    font-family: "IBM Plex Mono", monospace;
}
.text3{
    position: absolute;
    right: 350px;
    top: 80px;
    max-height: 500px;
    max-width: 500px;
    text-align: left;
    color: aliceblue;
    font-family: "IBM Plex Mono", monospace;
}

.title2{
    position: absolute;
    left: 30px;
    color: aliceblue;
    font-family: "IBM Plex Mono", monospace;
}

.tecDiv{
    width: 100%;
    height: 700px;
    background-image: url("https://i.pinimg.com/564x/bd/e4/26/bde4267bab62c98da92ac41b5d940a6b.jpg");
    display: flex;
    gap: 20px;
}
.imghtml{
    width: 100px;
    height: 100px;
    margin-top: 50px;
}
.imgcss{
    width: 100px;
    height: 100px;
    margin-top: 50px;
}
.imgjvs{
    width: 150px;
    height: 90px;
    margin-top: 50px;
}
.html{
    border-radius: 20px;
    background-color: black;
    width: 500px;
    height: 470px;
    margin-top: 70px;
}
.css{
    border-radius: 20px;
    background-color: black;
    width: 500px;
    height: 500px;
    margin-top: 70px;
}
.jvs{
    border-radius: 20px;
    background-color: black;
    width: 500px;
    height: 570px;
    margin-top: 70px;
}
.texthtml{
    color: white;
}
.textcss{
    color: white;
}
.textjvs{
    color: white;
}
.contactDiv{
    width: 100%;
    height: auto;
    background-image: url("https://i.pinimg.com/564x/21/6e/2c/216e2c00ff47089e30aae13ccdf05cac.jpg");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px;
}
.leftcontact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    font-family: "IBM Plex Mono", monospace;
}
.rightcontact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    font-family: "IBM Plex Mono", monospace;
}
