*{ 
    padding: 0;
    margin: 0;    
}

html{
    scroll-behavior: smooth;
} 

body{
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    display: flex;
    font-family: 'Lora', serif;
}

.wrap-menu{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
ul{
    position: absolute;
    top: 0;
    left: 35%;
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.perfil01{
    width: 100%;
    height: 400px;
    background-color: rgb(144, 238, 169);
    margin-top: 30px;
}
.perfil02{
    width: 100%;
    height: 400px;
    background-color: rgb(121, 121, 247);
}
.tecDiv{
    width: 100%;
    height: 400px;
    background-color: rgb(156, 227, 240);
}
.contactDiv{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px;
}
.leftcontact{
    width: 600px;
    height: 500px;
    min-width: 300px;
    background-color: rgb(19, 189, 160);
}
.rightcontact{
    width: 600px;
    height: 500px;
    min-width: 300px;
    background-color: rgb(129, 5, 109);
}
